<%= provide(:title,  "About") %>

<header>
  <h1><%= link_to "psych born", root_url %></h1>
</header>

<main>
  <h2>
    About Alex Heil and Psych Born
  </h2>
  <article>
    I'm Alex Heil, psychology student at the University of Buffalo. I've written over 400 articles in the self-help niche via developyourlife.net (the old one, not that new one), but am now focusing deeper on helping improve life with psychology hacks.

    I have learned a lot about psychology in the past few years while working on my old blogs, and I’m ready to pour my knowledge into a golden goblet and have you take a swig out of it.

    Psychology is not an easy field, what with all the brain stuff and all, which is why I want to make this website simple to read and understand. That way no matter what your education level, you’ll get something out of this.

    Using all my knowledge in the psychology field, and I’m still learning (I still can’t spell psychology without looking it up in the dictionary every time), I know I can produce great, useful content that will make your life better.

    Oh, and maybe you’ve noticed that this blog is pretty simple looking. That’s because you’re here to learn, not be plastered with hundreds of megabytes worth of ads (I’m looking at your Forbes) and it’s going to stay like that forever. Occasionally, I may recommend a product, such as a book, in which I may make money from through affiliate sales. Hey, that Ramen isn’t going to afford itself.

    <div>Follow me on Twitter - <a href="https://twitter.com/RealAlexHeil">@RealAlexHeil</a>.
  </article>
</main>
