<%= provide(:title,  "Contact") %>

<header>
  <h1><%= link_to "psych born", root_url %></h1>
</header>

<main>
  <h2>
    Contact
  </h2>
  <article>
    Forms are useless. Contact me on Twitter <a href="https://twitter.com/RealAlexHeil">@RealAlexHeil</a>.
  </article>
</main>
