<%= provide(:title,  "Free Updates") %>

<header>
  <h1><%= link_to "psych born", root_url %></h1>
</header>

<main>
  <h2>
    How You Can Use Proven Psychological Methods to Increase Your Happiness, Better Your Memory, and Improve Your Life
  </h2>
  <article>
    Sign up to the Psych Born newsletter for free and you’ll learn how you can use psychology to “get smart” about your life…

    …And then you’ll see why it’s absolutely VITAL that you take advantage of these methods.

    You also gain access to my FREE eBook titled, : ) The REAL Key to the Pursuit of Happiness.

    Guess what?! Those few sentences above this one are old! They don't apply at the moment.

    Why don't I just delete them?

    Good question.

    Because they soon will apply. Once I get more readers on the site.

    <h3>Want free updates?</h3>

    You can do two things:

    First. Follow me on Twitter <a href="https://twitter.com/RealAlexHeil">@RealAlexHeil</a>.

    Share this site with your friends! Once I get 1,000 or so unique visitors per day I'll reopen my email newsletters.

    Until then...
  </article>
</main>
