<%= provide(:title,  "Privacy Policy") %>

<header>
  <h1><%= link_to "psych born", root_url %></h1>
</header>

<main>
  <h2>
    Privacy Policy
  </h2>
  <article>
    <strong>Effective Date:</strong> <i>February 16th, 2013</i>

    The following Privacy Policy governs the online information collection practices of PSYCH BORN (“we” or “us”). Specifically, it outlines the types of information that we gather about you while you are using the PsychBorn.com website (the “Site”), and the ways in which we use this information. This Privacy Policy, including our children’s privacy statement, does not apply to any information you may provide to us or that we may collect offline and/or through other means (for example, at a live event, via telephone, or through the mail).

    Please read this Privacy Policy carefully. By visiting and using the Site, you agree that your use of our Site, and any dispute over privacy, is governed by this Privacy Policy. Because the Web is an evolving medium, we may need to change our Privacy Policy at some point in the future, in which case we’ll post the changes to this Privacy Policy on this website and update the Effective Date of the policy to reflect the date of the changes. By continuing to use the Site after we post any such changes, you accept the Privacy Policy as modified.

    PyschBorn.com strives to offer its visitors the many advantages of Internet technology and to provide an interactive and personalized experience. We may use Personally Identifiable Information (your name, e-mail address, street address, telephone number) subject to the terms of this privacy policy. We will never sell, barter, or rent your email address to any unauthorized third party.

    <h3>We collect but do not link personal and activity data.</h3>

    We use technologies like cookies (small files stored by your browser), web beacons, or unique device identifiers to anonymously identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.

    We also may collect personally identifiable information that you provide to us, such as your name, address, phone number or email address. With your permission, we may also access other personal information on your device, such as your phone book, calendar or messages, in order to provide services to you. If authorized by you, we may also access profile and other information from services like Facebook.

    Our systems are not designed to associate personal information with your activities (such as pages you view or things you click on or search for).

    We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.

    <h3>We may collect but do not share your location history.</h3>

    To customize our service for you, we may collect and store your precise geographic location as part of your user profile. This data generally is not shared with others. We may ask for your consent on your first use of the service.

    <h3>You can request to see or delete your personal data.</h3>

    You can sign into your account to see or delete any personally identifiable information we have stored, such as your name, address, email or phone number. You can also contact us by email to request to see or delete this information.

    <h3>We keep personal data until you delete it.</h3>

    We remove personally identifiable information (such as your name, address, email or phone number) and other preferences associated with your account promptly after you delete your account. We may retain other data indefinitely.

    <h3>We don’t share your personal information with marketers.</h3>

    We generally do not share personally identifiable information (such as name, address, email or phone) with other companies for marketing purposes.

    <h3>No ad companies collect data through our service.</h3>

    We do not allow advertising companies to collect data through our service for ad targeting.

    <h3>Service providers access data on our behalf.</h3>

    In order to serve you, we may share your personal and anonymous information with other companies, including vendors and contractors. Their use of information is limited to these purposes, and subject to agreements that require them to keep the information confidential. Our vendors provide assurance that they take reasonable steps to safeguard the data they hold on our behalf, although data security cannot be guaranteed.

    Analytics companies may access anonymous data (such as your IP address or device ID) to help us understand how our services are used. They use this data solely on our behalf. They do not share it except in aggregate form; no data is shared as to any individual user. Click to see company privacy policies that govern their use of data.

    <h3>We take steps to protect personal information.</h3>

    We take reasonable steps to secure your personally identifiable information against unauthorized access or disclosure. We encrypt transmission of data on pages where you provide payment information. However, no security or encryption method can be guaranteed to protect information from hackers or human error.

    Information we collect may be stored or processed on computers located in any country where we do business.

    <h3>Special situations may require disclosure of your data.</h3>

    To operate the service, we also may make identifiable and anonymous information available to third parties in these limited circumstances: (1) with your express consent, (2) when we have a good faith belief it is required by law, (3) when we have a good faith belief it is necessary to protect our rights or property, or (4) to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets. Your consent will not be required for disclosure in these cases, but we will attempt to notify you, to the extent permitted by law to do so.

    <h3>You can ask privacy questions.</h3>

    If you have any questions or concerns about our privacy policies, please contact us:
    Contact Form OR alexheil (at) psychborn.com OR 12068 Million Dollar Hwy, Medina New York, 14103, United States of America

    <h3>Children’s Privacy Policy</h3>

    This children’s privacy statement explains our practices with respect to the online collection and use of personal information from children under the age of thirteen, and provides important information regarding their rights under federal law with respect to such information.

    This Site is not directed to children under the age of thirteen and we do NOT knowingly collect personally identifiable information from children under the age of thirteen as part of the Site. We screen users who wish to provide personal information in order to prevent users under the age of thirteen from providing such information. If we become aware that we have inadvertently received personally identifiable information from a user under the age of thirteen as part of the Site, we will delete such information from our records. If we change our practices in the future, we will obtain prior, verifiable parental consent before collecting any personally identifiable information from children under the age of thirteen as part of the Site.

    Because we do not collect any personally identifiable information from children under the age of thirteen as part of the Site, we also do NOT knowingly distribute such information to third parties.

    We do NOT knowingly allow children under the age of thirteen to publicly post or otherwise distribute personally identifiable contact information through the Site.

    Because we do not collect any personally identifiable information from children under the age of thirteen as part of the Site, we do NOT condition the participation of a child under thirteen in the Site’s online activities on providing personally identifiable information.

    <h3>Changes to this Policy</h3>

    This privacy policy was last updated on February 16th, 2013. Our privacy policy may change from time to time. Please check this page periodically for changes. Your continued use of our site following the posting of changes to these terms will mean you accept those changes. Information collected prior to the time any change is posted will be used according to the rules and laws that applied at the time the information was collected.

    <h3>Governing Law</h3>

    This policy and the use of these Sites are governed by the State of New York law. If a dispute arises under this Policy we agree to first try to resolve it with the help of a mutually agreed-upon mediator in the following location: State of New York. Any costs and fees other than attorney fees associated with the mediation will be shared equally by each of us.

    If it proves impossible to arrive at a mutually satisfactory solution through mediation, we agree to submit the dispute to binding arbitration at the following location: State of New York, under the rules of the American Arbitration Association. Judgment upon the award rendered by the arbitration may be entered in any court with jurisdiction to do so.

    PsychBorn.com is controlled, operated and administered entirely within State of New York. This statement and the policies outlined herein are not intended to and do not create any contractual or other legal rights in or on behalf of any party.
  </article>
</main>
