<%= provide(:title,  "Terms of Use") %>

<header>
  <h1><%= link_to "psych born", root_url %></h1>
</header>

<main>
  <h2>
    Terms of Use
  </h2>
  <article>
    Please use the site responsibly.

    <h3>At the moment...</h3>

    There are no services on this site, therefore there is nothing to purchase, meaning no payments will be taken, thus no refunds are available.

    You don’t post any content on my site, so you do not have any proprietary rights to anything on this site, and do not have to follow any sort of content creation code of conduct.

    Please read the <%= link_to "privacy policy", privacy_path %>.

    I will and can change this Terms of Service whenever I want to.

    If you think that I have violated your copyright in any way, tweet me <a href="https://twitter.com/RealAlexHeil">@RealAlexHeil</a>. We will discuss from there.

    This site links to external sites and I am not responsible for what you do on those sites. Oh, and it’s possible it may be an affiliate link. If that’s the case I may make money through affiliate sales.

    That’s it.
  </article>
</main>
