/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$main-color: #f44336;
$accent-color1: #B39DDB;
$my-black: #212121;
$normal-font: Georgia, "Times New Roman", Times, serif;
$fancy-font: 'Open Sans', Helvetica, arial, sans-serif;

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.6em;
  font-family: $normal-font;
}

a {
  text-decoration: none;
  color: $main-color;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
    &:hover {
    color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

h3 {
  font-family: $fancy-font;
  font-size: 1.25em;
}

header {
  width: 100%;
  border-top: 5px solid $my-black;
  nav {
    width: 50%;
    margin: 0 auto;
    border-bottom: 5px solid $my-black;
    ul {
      text-align: center;
      background-color: $my-black;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        font-family: $fancy-font;
        font-weight: 300;
        padding: 1vh 1vw;
        position: relative;
        margin-left: 1vw;
        a {
          padding: 1vh 1vw;
          color: #fff;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -o-transition: .3s;
          &:hover {
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;
            background-color: #fff;
            color: $my-black;
          }
        }
        &:first-child {
          margin-left: 0vw;
        }
      }
    }
  }
  h1 {
    text-align: center;
    font-family: $fancy-font;
    font-weight: 300;
    font-size: 5em;
    margin: 10vh 0 15vh 0;
    a{
      color: $my-black;
    }
  }
}

main {
  width: 50%;
  margin: 5vh auto;
  h2 {
    font-family: $fancy-font;
    font-size: 1.7em;
    line-height: 1.15em;
    margin: 1vh 0;
    overflow: hidden;
  }
  span {
    font-family: $fancy-font;
    font-size: .85em;
  }
  img {
    margin: 1vh 0;
  }
  article {
    word-break: break-word;
    white-space: pre-line;
    margin-bottom: 5vh;
    h3 {
      margin: 1vh 0 -20px 0;
    }
    div {
      width: 100%;
      background-color: #FFF176;
      font-family: $fancy-font;
      padding: 2vh 2vw;
      margin-bottom: -20px;
    }
    li {
      padding: 0 2vw;
    }
  }
  nav {
    font-family: $fancy-font;
    text-align: center;
    ul {
      margin: 1vh 0;
      padding: 0;
      li {
        position: relative;
        display: inline-block;
        padding: 0;
        padding: 1vh 1vw;
        margin-left: 1vw;
        list-style: none;
      }
    }
  }
}

form {
  width: 100%;
  margin: 0 auto;
  input {
    width: 100%;
    padding: 2vh 2vw;
    font-family: $normal-font;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    height: 20vh;
    max-width: 100%;
    max-height: 50vh;
    padding: 2vh 2vw;
    font-family: $normal-font;
    box-sizing: border-box;
  }
  div {
    margin: 3vh 0;
  }
}

footer {
  width: 100%;
  text-align: center;
  nav {
    width: 50%;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        font-family: $fancy-font;
        font-size: .65em;
        padding: 1vh .5vw;
        position: relative;
        a {
          color: $my-black;
          &:hover {
            color: #aaa;
          }
        }
        &:first-child {
          padding-left: 0vw;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {

  header {
    nav {
      width: 100%;
    }
    h1 {
      font-size: 3em;
    }
  }

  main {
    width: 90%;
  }

  footer {
    nav {
      width: 100%;
    }
  }

}
